
.kt-header__topbar-item{
    background-color: black;
}
.kt-header__topbar-item--user{
    background-color: black;
}
.kt-header__topbar-wrapper{
    background-color: black;
}
.kt-hidden-mobile{
    background-color: black;
}
